/* General styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
}

/* Skip link */
.skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background: #000;
    color: white;
    padding: 10px;
    z-index: 100;
}

.skip-link:focus {
    top: 10px;
}

/* Header */
header {
    background-color: #004466;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Navigation */
nav {
    background-color: #333;
    width: 80%;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Main content */
main {
    background-color: white;
    font-size: 18px;
    padding: 20px;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

.grid img {
    width: 100%;
}

/* Flex Layout */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */
footer {
    background-color: #004466;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
